body {
    font-family: Arial, sans-serif;
    background-color: #78b0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 80%;
}

.header {
    text-align: center;
    color: white;
    font-family: cursive;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 14px;
}

.header-01 {
    color: rgb(241, 247, 157);
    font-family: cursive;
}

.para{
    color: rgb(236, 236, 236);
    font-family: Times, serif;
    font-size: 1rem;
    font-style: italic;
}

.steps{
    color: rgb(236, 236, 236);
    font-family: Times, serif;
    font-size: 1rem;
}

.footer{
    margin-bottom: 20px;
    font-size: 10px;
}
